<ion-view view-title="Login">
  <ion-content>
    <form ng-submit="logClick()" ng-if = "!loggato">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="dati.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="dati.pass">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
    <button class="button button-block button-positive" type="submit" ng-if = "loggato" ng-Click="pageRe()">Refresh</button>
    <ion-list ng-if="loggato">
     <ion-item ng-repeat="farmaco in farmaci">
        <a href="#/app/login/{{farmaco.id}}">{{farmaco.nome}} {{farmaco.datora}}</h2></a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
