<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="logClick()" ng-if = "!loggato">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="dati.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="dati.pass">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
    <ion-list ng-if="loggato">
     <ion-item ng-repeat="piece in news">
        <a href="#/app/login/{{piece.id}}">{{piece.sender}} {{piece.date}}</h2></a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
