<ion-view view-title="Farmacia">
  <ion-content>
    <ion-list>
   	   <ion-item href="#/app/offerta">
        <img src="img/offerta.jpeg" class="item item-thumbnail-center" href="#">
      </ion-item>
       <ion-item href="#/app/servizi">
        I Nostri Servizi
      </ion-item>
       <ion-item href="#/app/trovaci">
        Vieni a Trovarci
      </ion-item>
    </ion-list><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <p style="text-align:center;" class="background-text">FARMACIA ZERBINO<br>
     Via N. BIXIO 91 - 81024 Maddaloni (CE)<br>
Tel. 0823 434116 Fax. 0823 434116<br>  farmaciazerbino@alice.it <br> 
P.I. 01983610617</p>
  </ion-content>
</ion-view>