<ion-view view-title="Farmacia">
  <ion-content>
    <ion-list>
       <ion-item href="#/app/offerta">
        <button class="button button-balanced button-full"><img src="img/offerta.jpeg" class="item item-thumbnail-center" href="#"></button>
        
      </ion-item>
       <ion-item href="#/app/servizi" >
       <button class="button button-balanced button-full">I Nostri Servizi</button>
      </ion-item>
       <ion-item href="#/app/trovaci">
       <button class="button button-balanced button-full">Vieni a Trovarci </button>
      </ion-item>
    </ion-list><br>
    <br>
    <div class="card">
  <div class="item item-text-wrap">
    <p style="text-align:center;" class="background-text">FARMACIA ZERBINO<br>
     Via N. BIXIO 91 - 81024 Maddaloni (CE)<br>
Tel. 0823 434116 Fax. 0823 434116<br>  farmaciazerbino@alice.it <br> 
P.I. 01983610617</p>

 </div>
</div>
  </ion-content>
</ion-view>