<ion-view view-title="I Nostri Servizi">
  <ion-content>
 <span>La farmacia<b> Zerbino</b> è presente sul territorio dal 1870 e ancora oggi mette a disposizione competenze e professionalità per il benessere e la salute dei sui clienti.<br>
   <h4> Prodotti e servizi</h4><br>
<h5>La farmacia Zerbino offre i seguenti prodotti:</h5>
<ul>
<li>•Farmaci di marca;</li>
<li>•Farmaci generici;</li>
<li>•Farmaci omeopatici e fitoterapici;</li>
<li>•Alimenti senza glutine;</li>
<li>•Integratori alimentari;</li>
<li>•Prodotti per sportivi;</li>
<li>•Prodotti per la bellezza e la salute del corpo e dei capelli;</li>
<li>•Cosmetici;</li>
<li>•Prodotti di erboristeria.</li>
</ul>
<h5>I servizi offerti sono:</h5> 
<ul>
<li>•Test di autodiagnosi;</li>
<li>•Foratura auricolare;</li>
<li>•Test intolleranze alimentari;</li>
<li>•Noleggio ausili medico sanitari;</li>
<li>•Consulenze dermo-cosmetiche;</li>
<li>•Consulenze dietetiche;</li>
<li>•Consulenza psicologica.</li>
</ul>
</span>
  </ion-content>
</ion-view>