
<ion-view view-title="I Nostri Servizi">
  <ion-content>
    <div class="card">
  <div class="item item-text-wrap">
 <span>La farmacia<b> Zerbino</b> è presente sul territorio dal 1870 e ancora oggi mette a disposizione competenze e professionalità per il benessere e la salute dei sui clienti.<br>
  </div>
</div>
   <div class="card">
  <div class="item item-divider">
  <h3>La farmacia Zerbino offre i seguenti prodotti:</h3>
  </div>
  <div class="item item-text-wrap">
<ul>
<li>•Farmaci di marca;</li>
<li>•Farmaci generici;</li>
<li>•Farmaci omeopatici e fitoterapici;</li>
<li>•Alimenti senza glutine;</li>
<li>•Integratori alimentari;</li>
<li>•Prodotti per sportivi;</li>
<li>•Prodotti per la bellezza e la salute del corpo e dei capelli;</li>
<li>•Cosmetici;</li>
<li>•Prodotti di erboristeria.</li>
</ul>
</div>
  <div class="card">
  <div class="item item-divider">
   <h3>I servizi offerti sono:</h3> 
  </div>
  <div class="item item-text-wrap">
<ul>
<li>•Test di autodiagnosi;</li>
<li>•Foratura auricolare;</li>
<li>•Test intolleranze alimentari;</li>
<li>•Noleggio ausili medico sanitari;</li>
<li>•Consulenze dermo-cosmetiche;</li>
<li>•Consulenze dietetiche;</li>
<li>•Consulenza psicologica.</li>
</ul>
</div>
</span>

  </ion-content>
</ion-view>