<ion-view view-title="Vieni a Trovarci">
  <ion-content>
    <ion-item href="#/app/trovaci">
    <a href="https://www.google.it/maps/place/Farmacia+dott.ssa+Mirella+Zerbino/@41.0387485,14.3854146,294m/data=!3m1!1e3!4m5!3m4!1s0x133a53641d48c4fb:0x1f1cd210ad8d7860!8m2!3d41.0386922!4d14.3859439">
    <img src="img/posizione.jpeg" class="item item-thumbnail-justifies"/>
</a>
    </ion-item>
    <p><h4><a href="https://www.google.it/maps/place/Farmacia+dott.ssa+Mirella+Zerbino/@41.0387485,14.3854146,294m/data=!3m1!1e3!4m5!3m4!1s0x133a53641d48c4fb:0x1f1cd210ad8d7860!8m2!3d41.0386922!4d14.3859439">Via N. BIXIO 91 - Maddaloni</a><br> Tel: <a href="tel:0823434116">0823 434116</a> <br>
	Email:  <a href="mailto:farmaciazerbino@alice.it">farmaciazerbino@alice.it</a></h4></p>
  </ion-content>
</ion-view>